.presale-timer-container {
	color: #f0f0f0;
	font-size: 1.2rem;
}
.presale-timer-box {
	border: 1px solid #32cd32;
	border-radius: 4px;
	background-color: transparent;
}
.mint-image {
	max-height: 90%;
	max-width: 90%;
	width: auto;
	height: auto;
	border-radius: 15px;
}
.mint-image2 {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	border-radius: 15px;
}

@media screen and (max-width: 576px) {
	.mint-image {
		max-height: 300px;
		max-width: 100%;
	}
}

.xbid-image {
	max-height: 80%;
	max-width: 80%;
	width: auto;
	height: auto;
	border-radius: 15px;
}