body{
	background-image: url('/src/assets/images/snow/3.png');
	background-size: 100vw 100vh !important;
}

@media screen and (max-width: 700px){
	body{
		background-image: url('/src/assets/images/snow/2.png');
		background-size: cover !important;
	}
}